.container {
    width: 700px;
    padding: 5px;
    border: solid 2px black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: "header1 header2 header3 header4"
        " header5 header6 header6 header7"
        "header5 header8 header9 header7";
}

.item {
    padding: 10px;
    border: solid 2px blue;
    color: white;
}

.container .item:nth-child(1) {
    grid-area: header1;
    background-color: #5c5252;
}

.container .item:nth-child(2) {
    grid-area: header2;
    background-color: rgb(93, 173, 215);
}

.container .item:nth-child(3) {
    grid-area: header3;
    background-color: rgb(44, 224, 113);
}

.container .item:nth-child(4) {
    grid-area: header4;
    background-color: #5c5252;
}

.container .item:nth-child(5) {
    grid-area: header5;
    background-color:rgb(85, 96, 131);
}

.container .item:nth-child(6) {
    grid-area: header6;
    background-color: #5c5252;
}

.container .item:nth-child(7) {
    grid-area: header7;
    background-color:rgb(85, 96, 131);
}

.container .item:nth-child(8) {
    grid-area: header8;
    background-color: rgb(93, 173, 215);
}

.container .item:nth-child(9) {
    grid-area: header9;
    background-color: rgb(44, 224, 113);
}